.log_in {
    display: flex auto;
    width: 284px;
    height: 300px;
    margin-left: 2em;
    margin-top: 2em;
    background-color: #0094ff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
}

.input_box_log_in {
    display: flexbox;
    flex-direction: column;
    margin-left: 1.2em;
    margin-top: 1.8em;
    width: 237px;
    height: 45px;
    left: 20px;
    top: 46px;
    font-size: large;
    
    padding-left: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .25);
}