.landing-page {
    height: 95vh;
    display: flex;
    flex-direction: row;
    background-color: #e2eafc;
}

.login-landing {
    flex: .8;
    background-color: #e2eafc;
}

.landing-content {
    flex: 4;
    display: flex;
    flex-direction: column;

}

.landing-top {
    flex: .1;
    margin-top: 1.5em;
    margin-bottom: 4em;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1em;
    background-color: #d7e3fc;
    background: linear-gradient(to bottom,#d7e3fc, #e2eafc 99%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    border-radius: 5%;

}

.landing-top h1 {
    font-size: 2cm;
    padding-bottom: .2em;
}

.landing-top h3 {
    font-size: large;
    padding-bottom: .2em;
}

.landing-top p {
    font-size: medium;
    padding-bottom: .2em;
}


.landing-bottom {
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1em;
    background-color: #d7e3fc;
    background: linear-gradient(to bottom,#d7e3fc, #e2eafc 99%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    
}